page-betpopup {
    .error-message {
        position: relative;
        bottom: 0;
        width: 100%;
        background: #e9544e;
        color: #fff;
        font-size: 1.2rem;
        padding: 8px;
        text-align: center;
    }
}
