page-thankyou {
 
.no-img{
width:100%;
padding:45px 0px;
text-align:center;
}
.no-img p{
color:#666;
}
.no-img-box{
width:100%;
}
.no-img-box img{
width:200px;
}

.no-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
}
}
