page-testseries {
.deactive
{
    color:red;
}
.active
{
    color:green;
}
.home-box {
    width: 100%;
    position: relative;
    height: 150px;
    border-radius: 5px;
    }
    .overlay {
    background: rgba(255,255,255,0.6);
     position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    }
    .home-box img {
    width: 100%;
    height: 150px;
    -o-object-fit: fill;
    object-fit: fill;
    border-radius: 5px;
    }
    .home-box .home-box-content {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 0px;
        text-align: center;
    }
    .home-box .home-box-content h2 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 0px;
        
    background: rgba(0,0,0,0.3);
    }
}
